.redirect-modal {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    overflow: auto; /
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.redirect-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: redirect-animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: redirect-animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes redirect-animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes redirect-animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.redirect-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.redirect-close:hover,
.redirect-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.redirect-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.redirect-modal-body {padding: 2px 16px;}

.redirect-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
