version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/front"
    schedule:
      interval: "weekly"
      day: "monday"
    allow:
      - dependency-type: "direct"
    versioning-strategy: "lockfile-only"

  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      day: "monday"
      interval: "weekly"
    allow:
      - dependency-type: "direct"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      day: "monday"
      interval: "weekly"
