<input
    type="file"
    [attr.id]="id || name"
    [attr.name]="name"
    [attr.accept]="accept ? accept : null"
    [multiple]="multiple"
    (change)="onFileChange($event)"
    #inputFile
>
<button (click)="inputFile.click()">{{chooseButtonLabel}}</button>
<button (click)="upload()" *ngIf="fileItemList.length > 0">{{uploadButtonLabel}}</button>
<br>
<p *ngFor="let error of errors"> {{error.statusText}}</p>
<br>
<a href="api/download" *ngIf="downloadLinkVisible">Download last uploaded file</a>

<div *ngIf="dragAndDrop"
     id="dropfile"
     (drop)="onDrop($event)"
     (dragenter)="onDragenter($event)"
     (dragleave)="onDragleave($event)"
     (dragover)="onDragover($event)"
>
    {{dropZoneText}}
</div>

<p *ngFor="let fileItem of fileItemList; let i = index">
    {{i + 1}}) {{fileItem.name}}
    <button (click)="removeFileItemFromList(fileItem)">X</button>
</p>
