<div id="redirect-modal" class="redirect-modal" *ngIf="isModalVisible">
    <div class="redirect-modal-content">
        <div class="redirect-modal-header">
            <h2>Warning</h2>
        </div>
        <div class="redirect-modal-body">
            <p>A custom header has been detected</p>
            <p>You have been disconnected</p>
        </div>
        <div class="redirect-modal-footer">
            <h3>Redirection in {{counter}} second<span *ngIf="counter>1">s</span>
            </h3>
        </div>
    </div>
</div>
