\o/ Now you can refresh me (hit F5) (or <a routerLink="/">go back</a>) <br>

<button (click)="callServices()">Click me to call ALL backend services</button><br>
<button (click)="singleServiceCall()">Click me to call a single backend services</button><br>
<button (click)="multipleSubscribe()">Click me to call multiple subscribe</button><br>
<button (click)="parseUserAgent()">Parse user-agent</button><br>
<pre>
{{successQueryResults | json}}
{{slowQueryResults | json}}
{{upperCased | json}}
{{userAgentResults | json}}
</pre>
<pre>
errors (if any) : {{errorMessage | json}}
</pre>
