Now you can refresh this page (hit F5) (or <a routerLink="/">go back</a>) <br>

<button (click)="fastQuery()">Click me to perform a fast HTTP request</button><br>
<button (click)="slowQuery()">Click me to perform a slow (cross-origin) HTTP request</button><br>
<button (click)="reactiveQuery()">Click me to perform the slow HTTP request via the reactive web client</button><br>
<button (click)="callAllQueries()">Click me to call BOTH slow and fast HTTP requests</button><br>
<button (click)="forceSpinner()">Force the spinner visibility</button><br>

<pre *ngIf="fastQueryResult">
{{fastQueryResult | json}}
</pre>

<pre *ngIf="slowQueryResult">
{{slowQueryResult | json}}
</pre>

<pre *ngIf="errorMessage">
{{errorMessage | json}}
</pre>
