name: back

on: [ push, pull_request, workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        java-version: [ 21.x ]
        graalvm-version: [ 21 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

      - name: Run full build
        run: ./mvnw clean test -B

      - uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm-community'
          java-version: ${{ matrix.graalvm-version }}

      - name: GraalVM Compile
        run: ./mvnw clean -Pnative native:compile
        continue-on-error: true

